/* You can add global styles to this file, and also import other style files */
$blue: #3f51b5;

* {
    outline: none !important;
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 14px; }

.mat-drawer-content {
    padding-bottom: 1em;
}